.loginForm{
    /* background-color: rgb(244, 57, 57, 0.6); */
    /* height: 300px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(244, 57, 57, 0.6);
    padding: 15px;
}
.loginForm label{
font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 900;
font-size: 20px;
}

.loginForm div {
    margin: 5px;

}

.loginForm input {
    width: 250px;
    height: 26px;
    border-radius: 5px;
}
.loginForm button {
    /* width: 250px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.fancyText{
    font-size: 30px;
    font-family: Pacifico, cursive;
    font-weight: 100;
    /* position: relative; */
    /* bottom: 10px; */
    /* margin-bottom: px; */
    /* text-decoration: none; */
    color: rgb(250, 0, 0);
    text-shadow:
        0 0 5px #fff,
        0 0 5px #fff,
        0 0 5px #fff,
        /* 0 0 42px rgb(244, 57, 57), */
        /* 0 0 82px rgb(244, 57, 57),
        0 0 92px rgb(244, 57, 57), */
        0 0 102px rgb(244, 57, 57),
        0 0 151px rgb(244, 57, 57);
}

.buttonBox{
    border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192);
    width: 150px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    /* position: relative;
    top:12px; */
    justify-content: center;
    /* margin-right: 12px; */
    background-color: rgb(244, 57, 57);
    /* margin-right: 100px; */
}

.buttonBox button{
    background-color: rgb(244, 57, 57);
    border:none;
    cursor: pointer;
    color:white;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .error{
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 15px;
      color: darkred;
  }

  .demoButtonBox{
    /* border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192); */
    width: 150px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    /* position: relative;
    top:12px; */
    justify-content: center;
    /* margin-right: 12px; */
    /* background-color: rgb(244, 57, 57); */
    /* margin-right: 100px; */
}

.demoButtonBox button{
    /* background-color: rgb(244, 57, 57); */
    background: none;
    border:none;
    cursor: pointer;
    color:rgb(244, 57, 57);
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
