.imageBox{
    min-height: 30vw;
    width: 100%;
    /* background-color: blanchedalmond; */
    background-image: url('https://images.pexels.com/photos/7262998/pexels-photo-7262998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;
    /* position: absolute; */
    /* background-size: contain; */
    /* background-position: center;
    display: flex;
    align-content: center; */
    /* flex-direction: column-reverse; */
    /* filter: blur(2px); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoBox{
/* background-color: red; */
padding-left: 10px;
border-radius: 5px;
height: 185px;
/* box-shadow: 0px 0px 20px rgba(43, 39, 60, .6); */
/* background-color: rgba(210, 180, 140, 0.137); */
background: linear-gradient(180deg, rgba(3, 3, 3, 0.411), transparent);
}

.ratingBox{
    /* background-color: red; */
    margin-top: 8px;
    font-size: 20px;
    color: white;
}

.openStatus {
    /* margin-top: 8px;
    font-size: 25px;
    color: white; */
    margin-top: 12px;
    font-size: 25px;
    font-family: Pacifico, cursive;
    font-weight: 100;
    /* text-decoration: none; */
    color: rgb(250, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57);
    /* animation-name:glow;
    animation-duration:.00001s;
    animation-iteration-count:infinite;
    animation-direction:alternate; */
}
.closedStatus {
    /* margin-top: 8px;
    font-size: 25px;
    color: white; */
    margin-top: 12px;
    font-size: 25px;
    font-family: Pacifico, cursive;
    font-weight: 100;
    /* text-decoration: none; */
    color: rgb(7, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57);
    /* animation-name:glow;
    animation-duration:.00001s;
    animation-iteration-count:infinite;
    animation-direction:alternate; */
}
.locationInfo{
    font-size: 20px;
    color: white;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    /* font-size: 25px;
    font-family: Pacifico, cursive;
    font-weight: 100;
    margin-bottom: 45px;

    color: rgb(250, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57); */

}
.locationInfo > a{
    /* font-family: Pacifico, cursive; */
    font-weight: 100;
    text-decoration: none;
    color: white;
    /* color: rgb(250, 0, 0); */
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57); */

    /* font-size: 20px;
    color: white;
    margin-top: 12px; */
    /* font-size: 25px;
    font-family: Pacifico, cursive;
    font-weight: 100;
    margin-bottom: 45px;

    color: rgb(250, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57); */

}
.locationInfo a:hover{
    font-weight: 700;
    /* font-family: Pacifico, cursive; */
    text-decoration: underline;
    /* color: rgb(250, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57); */
}

.bizName{
    /* background-color: chartreuse; */
    font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: rgb(255, 255, 255);
   font-weight: 900;
   font-size: 50px;
   overflow-wrap: break-word;
   width: 100%;
   /* border-style: solid;
   border-width: 1px;
   border-color: white; */
   /* position: absolute; */



}

.infoFlex{
    /* background-color: chocolate; */
    width: 80vw;
    min-height: 30vw;
    display: flex;
    align-content: center;

    flex-direction: column-reverse;
}

.infoSection{
    /* background-color: red; */
    /* background-color: thistle; */
    display: flex;
    min-height: 300px;
    padding:20px;
    justify-content: space-evenly;
    border-bottom: solid;
    align-items: center;

    /* border-width: 1px; */
    border-color: rgba(179, 179, 179, 0.363);

}

.bizLocationDescription{
/* background-color: red; */
width: 400px;
height: 310px;
/* padding:20px; */
box-shadow: 0px 0px 20px rgba(51, 51, 53, 0.6);
overflow-wrap: break-word;
/* margin-left: 20px;
margin-right: 20px; */
}

.infoInnerBox{
height: 250px;
width: 250px;
background-color: white;
}

/* @keyframes glow{
    from{    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57);
    }
    to{    text-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57);
    }
  } */

  .loginButton{
    /* border-style: solid; */
    border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192);
    width: 45px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  .loginButton a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(43, 39, 60);
  }
.editButtonBox{
    /* border-style: solid; */

    border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192);
    width: 45px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 12px; */
    background-color: rgb(244, 57, 57);
    margin-right: 100px;
  }
  .editButtonBox > a{
    color: white;
    text-decoration: none;
    /* font-weight: 600; */

  }

  .flexColumn {
      display: flex;

  }


  .photoButtonBox{
    /* border-style: solid; */
    border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192);
    width: 145px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 12px; */
    /* background-color: rgb(244, 57, 57); */
    margin-right: 100px;
  }

  .photoButtonBox > a{
    color: white;
    text-decoration: none;
    font-weight: 600;

  }

  .locationInfoInvis{
    font-size: 20px;
    color: white;
    margin-top: 12px;
    display: flex;
    width: 100%;
    /* height: 10px; */
    /* background-color: red; */
    justify-content: space-between;
    /* font-size: 25px;
    font-family: Pacifico, cursive;
    font-weight: 100;
    margin-bottom: 45px;

    color: rgb(250, 0, 0);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 42px rgb(244 57 57), 0 0 82px rgb(244 57 57), 0 0 92px rgb(244 57 57), 0 0 102px rgb(244 57 57), 0 0 151px rgb(244 57 57); */

}
