.navContainer {
    background-color: rgb(255, 255, 255);
    height: 106px;
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:rgb(238, 238, 239);
    color: rgb(51, 51, 51);
    padding-left: 40px;
    padding-right: 40px;
    /* padding-top: 24px; */
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 0px 10px rgba(43, 39, 60, .1); */
}

.redSearchBox{
    background-color: rosybrown;
    min-width: 60px;
    height: 100%;
    /* height: 48px; */
    display: flex;
    /* box-shadow: 0px 0px 10px rgba(244, 57, 57, .6); */
    box-shadow: 0px 0px 10px rgba(43, 39, 60, .6);
    /* border: none; */
    background-color: rgb(244, 57, 57);
    /* border-radius: 5%; */
    /* border-radius: 10px; */
    border-radius: 0px 7px 7px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* position: relative;
    align-self: flex-end */
    /* right: 25px; */
}

.searchDiv {
    height: 48px;
    width: 750px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(43, 39, 60, .6);
    border: none;
    /* border-radius: 10%; */
    /* border-radius: 10px; */
    border-radius: 7px;
    /* display: flex; */
    /* justify-content: flex-end; */
    border-left: none;
    /* padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 13px; */

}
.searchInput{
    /* background-color: rosybrown; */
    /* border-radius: 10px; */
    border-radius: 7px 0px 0px 7px;
    /* border-radius: 5px; */
    height: 80%;
    /* width: 100%; */
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    /* height: 90%; */
    /* width: 95%; */
    /* width: 99%; */
    border: none;
}


.magnifyingGlass{
    height: 60%;
    width: 50%;
    cursor: pointer;
}

.searchLineLabel{
    width: 2px;
    height: 24px;
    color: rgb(238, 238, 239);
    background-color: rgb(238, 238, 239);
}


.navButtonLinkBox{
    display: flex;
    align-content: center;
    justify-content: center;

}

.searchDiv select {
    color: rgb(187, 186, 192);
    font-weight: 400;
    font-size: 18px;
    width: 50.66%;

  }
  .searchDiv option:not(:first-of-type) {
    color: black;
  }

  .avatarCircle{
      /* border-radius: 50%; */
      border-radius: 7px;
      color: rgb(244, 57, 57);
      /* width: 35px; */
      /* height: 35px; */
      height: 48px;
      width: 48px;
      background-color: rgb(255, 255, 255);
      /* position: relative; */
      box-shadow: 0px 0px 10px rgba(43, 39, 60, .6);
      cursor: pointer;
  }

  .avatarButton{
      border: none;
      background-color: rgb(255, 255, 255);
  }

  .dropDown{
    z-index: 100;
    /* width: 30%; */
    width: 10%;
    /* NO WIDTH!!!!!!! because it needs to be filled with things dynamically */
    /* height: 600px; */
    height: 100px;
    /* NO HEIGHT!!!!!!! because it needs to be filled with things dynamically */
    background-color: white;
    /* background-color: red; */
    border: 1px solid rgb(155, 158, 158);
    position: absolute;
    /* top: 78px; */
    right: 45px;
    color: rgb(40, 40, 40);
    /* padding: 5px 10px 10px 10px; */
  }

  .loginButton{
    /* border-style: solid; */
    border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192);
    width: 45px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  .loginButton a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(43, 39, 60);
  }


  .signupButton{
    /* border-style: solid; */
    border: solid;
    border-width: 1px;
    border-color:rgb(187, 186, 192);
    width: 61px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    font-size: 14;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 57, 57)
  }
  .signupButton a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
